.About {
  min-height: 100vh;
  position: relative;
}

.About .about-large-title {
	font-weight: 800;
	color: #f5f6f7;
  font-size: 15em;
  position: absolute;
  left: 21%;
  top: 0;
  line-height: 1;
}

.About #photo img {
  height: 50vw;
  max-height: 30em;
  min-height: 15em;
  width: auto;
}

.About #photo {
  margin-top: 10em;
}

.About #info > div {
  width: 100%;
  margin-bottom: 2em;
}

@media (max-width: 766px) {
  .About #info {
    margin-top: 2em;
  }

  .About #photo {
    margin-top: 1em;
  }

  .About #cv {
    margin-top: 0em;
  }
}

@media (max-width: 619px) {
  .About .row {
    margin: 0px;
  }
}