.Blog {
  min-height: 50vh;
  position: relative;
  margin-top: 5em;
}

.Blog .title {
  margin: 1em;
}

.Blog #blogCarousel {
  padding-bottom: 5em;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .Blog .card {
    margin-bottom: 10px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .Blog .card {
    margin: 10px;
  }
}